*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
body div{
    background-color: rgb(248,248,248) ;

}
.navegador{
    border-bottom: 3px solid black;   
}
.nav-item:hover{
    background-color: rgb(205, 202, 202);
    height: 100%;
}
.btnReset{
    width: 10%;
}



.close{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0;
}
.alertaCorrecto{
    display: none;
}
/* titulo */
.rowHeader{
    height:10%; 
}


/* formulario */
.rowForm{
    height:70%; 
    /* border:1px solid; */
}
.colForm{
    height:100%; 
    /* border:1px solid; */
}
.textAreaComentarios{
    resize: none;
}
/* formulario imagen */
.formularioImagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 49px;
}
.subirImagen{
    height: 80%;
    width: 85%;
    border: 3px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.subirImagen label{
    text-align: center;
}
#inputSubirImagen{
    display: none;
}
.bi-upload{
    font-size: 4em;
}
/* formulario botones */
.rowSend{
    height:15%;
    border:1px solid;
}
.colFree, .colSend{
    height:100%; 
    border:1px solid;
}
.form-group{
    padding: 10px
}
.botonesFormulario *{
    margin: 5px;
}
