/* estilos generales */
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}

/* divs y formularios */
.containerPadre{
    background-color: #F1F1F1 ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerFormulario{
    background-color: #D1EAFF;
    min-height: 45%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
form .input-group{
    width: 75%;
}
form .form-control{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.input-group-text{
    height: 38px;
}
.divBoton{
    background-color: #0F2E80;
    width: 75%;
    margin: 40px auto 0 auto;
}
.btn{
    margin: auto auto;
    width: 100%;
}
#alert{
    display: none;
}
.alert{
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert button{
    background-color: #F8D7DA;
    border: 0px;
    float: right;
}

